{% load static %}
<html>
  <head>
    {% load bootstrap5 %} 
    {% bootstrap_css %} 
    {% bootstrap_javascript %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'evidence/style.css' %}">

    {% block head %}
    <title>Default</title>
    {% endblock %}
  </head>
  <body class='dark-mode-body' data-bs-theme="dark">
    {% include 'evidence/messages.html' %}

    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">My Website</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'departsearch' %}">DEPARTS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'vehiclesearch' %}">VEHICLES</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'vehicletypes' %}">VEH.TYPES</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'usersearch' %}">USERS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'stopsearch' %}">STOPS</a>
                  </li>
                  {% if user.is_authenticated %}
                    <li class="nav-item user">
                      <div class="dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.username }}
                          </a>
                          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                              <li><a class="dropdown-item" href="{% url 'user' user.id %}">Profile</a></li>
                              <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                          </ul>
                      </div>
                    </li>
                  {% else %}
                    <li class="nav-item user">
                      <a class="nav-link" href="{% url 'login' %}">Login/Register</a>
                    </li>
                  {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <main class="container mt-4">
      {% block body %}
      {% endblock %}
    </main>
    <script>
        // Toggle dark mode
        const body = document.querySelector('body');
        const toggleDarkMode = () => {
            body.classList.toggle('dark-mode');
        };
    </script>
  </body>
</html>
