{% extends "evidence/base.html" %} 
{% block body %}
<div class="card darker-mode p-3 m-3">
  <h2>Depart</h2>

  <p>Line/route: {{ depart.line}}/{{depart.route}} at {{ depart.date|date:"d.m.Y" }}</p>
  <p>
    First stop: {{ depart.first_stop }} at {{ depart.datetime_start|date:"d.m.Y H:i" }}
  </p>
  <p>
    Actual stop: {{ depart.actual_stop }} at {{ depart.datetime_actual|date:"d.m.Y H:i" }} with {{ depart.actual_delay}}min delay
  </p>
  <p>Last stop: {{ depart.last_stop }}</p>
  <p>Vehicle: <a href="{% url 'vehicle' depart.first_vehicle.id %}">{{ depart.first_vehicle.type.manufacturer }} {{ depart.first_vehicle.type }} reg. num. {{ depart.first_vehicle.reg_num }} ran by {{ depart.first_vehicle.carrier}}</a></p>
</div>

<div class="card darker-mode p-3 m-3">
  <h3>Vehicles in set</h3>

    <ul class="list-group">
        {% for set in sets %}
            <li role="button" class="list-group-item dark-mode"  onclick="location.href = '{% url 'vehicle' set.vehicle.id %}'">{{ set.position }}. {{ set.vehicle}}</li>
        {% endfor %}
    </ul>
</div>

<div class="card darker-mode p-3 m-3">
  <h3>Comment section {{ user2.username }}</h3>
  {% for comment in comments %}
      <div class="col">
      <div class="card mb-3 dark-mode">
          <div class="card-body">
          <p class="card-text">{{ comment.content}}</p>
          </div>
          <div class="card-footer">
          <small class="text-muted">Posted by <a href="{% url 'user' comment.user.id %}">{{ comment.user.username}}</a> at {{comment.datetime_added|date:"d.m.Y H:i"}}</small>
          </div>
      </div>
      </div>
  {% endfor %}
</div>

<div class="card darker-mode p-3 m-3">
  <h3>Add comment</h3>

  <form method="post" action="{% url 'addcomment' depart.id %}">
    {% csrf_token %} {{ comment_form.as_p }}
    <input type="submit" value="Submit" />
  </form>
</div>
{% endblock %}
