
{% extends "evidence/base.html" %} 
{% load static %}
{% block head %}
<script type="text/javascript" src="{% static 'evidence/departsearch.js' %}"
></script>
<style type="text/css">
  #livesearch {
    margin: 0px;
    width: 194px;
  }
  #txt1 {
    margin: 0px;
  }
</style>
<title>Departs</title>
{% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="d-flex justify-content-center">    
        <div class="col-sm-6">
            <h1>Depart search</h1>
            <form class="mb-3">
              <input type="text" class="form-control" id="txt1" size="30" onkeyup="showResult(this.value)" placeholder="Type to search..." />  
            </form>
            <hr>
            <ul class="list-group" id="livesearch">
            </ul>
        </div>
    </div>
</div>

{% endblock %}