{% extends "evidence/base.html" %} 
{% block head %}
<title>SKJ</title>
{% endblock %} 
{% block body %}

<h1>Welcome to this site with a name!</h1>
<p>This is a project to SKJ by Jakub Koběrský, KOB0070</p>

<hr>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card card-dark">
            <div class="card-body">
                <h5 class="card-title">Users Registered</h5>
                <p class="card-text">{{ users }}</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-dark">
            <div class="card-body">
                <h5 class="card-title">Departs recorded</h5>
                <p class="card-text">{{ departs }}</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-dark">
            <div class="card-body">
                <h5 class="card-title">Comments written</h5>
                <p class="card-text">{{ comments }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
