{% extends "evidence/base.html" %}
{% block head %}
<title>Login</title>
<style>
  .login-form {
      background-color: #222;
      margin: 0 auto;
      max-width: 400px;
      padding: 2rem;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .login-form label {
      font-weight: bold;
  }
</style>
{% endblock %} 


{% block body %}
<div class="login-form">
  <h1 class="text-center mb-4">Login</h1>
  <p>Don't have an account? <a href="{% url 'register' %}">Register here</a>!</p>
  <form action="" method="POST">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                {{ error }}
            {% endfor %}
        {% endfor %}
    </div>
    {% endif %}
    <div class="mb-3">
        <label for="id_username" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" maxlength="200" required="" id="id_username">
    </div>
    <div class="mb-3">
        <label for="id_password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" required="" id="id_password">
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
</div>

{% endblock %}