{% extends 'evidence/base.html' %} {% block body %}
<br />
<div class="alert alert-success" role="alert">
  <h2 style="text-align: center">Logged out!</h2>
</div>

<h3>Login again?</h3>
<a href="{% url 'login' %}">---> Login</a> <br />
<a href="{% url 'index' %}"><--- Or go back to home.</a>
{% endblock %}
