{% extends "evidence/base.html" %} 
{% block head %}
<title>Register</title>
<style>
  .login-form {
      background-color: #222;
      margin: 0 auto;
      max-width: 400px;
      padding: 2rem;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .login-form label {
      font-weight: bold;
  }
</style>
{% endblock %} 

{% block body %}
<div class="login-form">
  <h1 class="text-center mb-4">Register</h1>
  <p>Already have an account? <a href="{% url 'login' %}">Login here</a>!</p>
  <form action="" method="POST">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                {{ error }}<br>
            {% endfor %}
        {% endfor %}
    </div>
    {% endif %}
    <div class="mb-3">
        <label for="id_username" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" maxlength="24" required="" id="id_username">
    </div>
    <div class="mb-3">
        <label for="id_email" class="form-label">Email</label>
        <input type="email" class="form-control" name="email" maxlength="320" autofocus="" required="" id="id_email">
    </div>
    <div class="mb-3">
        <label for="id_password1" class="form-label">Password</label>
        <input type="password" class="form-control" name="password1" autocomplete="new-password" required="" id="id_password1">
        <div id="emailHelp" class="form-text">Don't worry. We're hashing your password.</div>
    </div>
    <div class="mb-3">
        <label for="id_password2" class="form-label">Password confirmation</label>
        <input type="password" class="form-control" name="password2" autocomplete="new-password" required="" id="id_password2">
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </form>
</div>

{% endblock %}
