{% extends "evidence/base.html" %} 
{% block head %}
<title>Stops</title>
{% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="d-flex justify-content-center">    
        <div class="col-sm-6">
            <h1>List of stops</h1>
            <form class="mb-3" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search stops..." name="name" maxlength="64" id="id_name">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </form>
            <hr>
            <ul class="list-group">
                {% for stop in stops %}
                    <li class="list-group-item dark-mode">{{ stop.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}