{% extends "evidence/base.html" %} 
{% block head %}
<title>User {{ user2.username }}</title>
{% endblock %}

{% block body %}
<div class="d-flex justify-content-center">  
    <div class="col-sm-6">
        <div class="card darker-mode p-3 m-3">
            <h2>User {{ user2.username }}</h2>
            <label>{{ user2.email }}</label>
        </div>
        
        <div class="card darker-mode p-3 m-3">
            <h3>Comments posted by {{ user2.username }}</h3>
            {% for comment in comments %}
                <div class="col">
                <div class="card mb-3 dark-mode">
                    <div class="card-body">
                    <p class="card-text">{{ comment.content}}</p>
                    </div>
                    <div class="card-footer">
                    <small class="text-muted">Posted to <a href="{% url 'depart' comment.depart.id %}">{{ comment.depart}}</a> on {{comment.datetime_added|date:"d.m.Y H:i"}}</small>
                    </div>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}