
{% extends "evidence/base.html" %} 
{% block head %}
<title>Users</title>
{% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="d-flex justify-content-center">    
        <div class="col-sm-9">
            <h1>List of users</h1>
            <form class="mb-3" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search users..." name="username" maxlength="24" id="id_username" />
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </form>
            <hr>
            <div class="card-group">
                {% for user in users %}
                    <!--<li class="list-group-item dark-mode" role="button" onclick="location.href = '{% url 'user' user.id %}'">{{ user.username }}</li>-->
                    <div class="col mb-4">
                        <div class="card dark-mode" style="width: 18rem;">
                            <img src="https://via.placeholder.com/350x200.png?text={{ user.username }}" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">{{ user.username }}</h5>
                                <a href="#" class="btn btn-primary" onclick="location.href = '{% url 'user' user.id %}'">Visit profile</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}