{% extends "evidence/base.html" %} 
{% block body %}

<div class="card darker-mode p-3 m-3">
  <h2>Vehicle</h2>
  <p>Registration number: {{ vehicle.reg_num }}</p>
  <p>Manufactured year: {{ vehicle.manufactured_year }}</p>
  <p>Registered from: {{ vehicle.datetime_added|date:"d.m.Y" }}</p>
  <p>Last seen: {{ vehicle.datetime_added|date:"d.m.Y H:i" }}</p>
  <p>State: {{ vehicle.state }}</p>
  <p>SPZ: {{ vehicle.SPZ }}</p>
  <p>Carrier: {{ vehicle.carrier.name }}</p>
  <p>Vehicle Type: {{ vehicle.type.name }}</p>
  <p>Vehicle Manufacturer: {{ vehicle.type.manufacturer.name }}</p>
</div>

<div class="card darker-mode p-3 m-3">
  <h3>Vehicle departs</h3>

    <ul class="list-group">
      {% for set in sets %}
            <li role="button" class="list-group-item dark-mode"  onclick="location.href = '{% url 'depart' set.depart.id %}'">{{ set.depart}} at position {{ set.position }}</li>
        {% endfor %}
    </ul>
</div>

<div class="card darker-mode p-3 m-3">
  <h3>Registration number history</h3>

    <ul class="list-group">
      {% for reg_num in reg_nums %}
            <li class="list-group-item dark-mode">{{ reg_num.date_valid_from|date:"d.m.Y" }} to {{ reg_num.date_valid_to|date:"d.m.Y" }} was {{ reg_num.reg_num }}</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}