
{% extends "evidence/base.html" %} 
{% block head %}
<title>Vehicles</title>
{% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="d-flex justify-content-center">    
        <div class="col-sm-6">
            <h1>List of vehicles</h1>
            <form class="mb-3" method="post">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
            <hr>
            <ul class="list-group">
                {% for vehicle in vehicles %}
                    <li role="button" class="list-group-item dark-mode"  onclick="location.href = '{% url 'vehicle' vehicle.id %}'">{{ vehicle.reg_num }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}