
{% extends "evidence/base.html" %} 
{% block head %}
<title>Vehicle types</title>
{% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="d-flex justify-content-center">    
        <div class="col-sm-6">
            <h1>List of vehicle types</h1>
            <hr>
            <ul class="list-group">
                {% for veh_type in veh_types %}
                    <li class="list-group-item dark-mode">{{ veh_type }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}