/* Dark mode styles */
body.dark-mode-body {
    background-color: #2f2f2f;
    color: #f8f8f8;
}

/* Navigation styles */
nav {
    background-color: #1a1a1a;
    color: #f8f8f8;
}

nav a {
    color: #f8f8f8;
}

nav a:hover {
    color: #f8f8f8;
    text-decoration: none;
}

.nav-item.user {
    background-color: #6c757d;
    border-radius: 10px;
    margin-right: 10px;
}

.card-dark {
    background-color: #222;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


/* Just for dark mode */
.dark-mode {
    background-color: #3c3c3c;
    color: #f8f8f8;
    border: none;
}

.dark-mode:hover {
    background-color: #424242;
}

.dark-mode.active {
    background-color: #3c3c3c;
    color: #f8f8f8;
    border: none;
}

.darker-mode {
    background-color: #2c2c2c;
    color: #f8f8f8;
    border: none;
}